html, body {
    margin:0px;
    background-color: black;
    color:white;
}
.titulo{
    text-align: center;
    background: rgb(0,12,36);
background: linear-gradient(90deg, rgba(0,12,36,1) 56%, rgba(0,16,36,0.896796218487395) 70%, rgba(13,204,172,1) 100%);
    color: white;
    padding: 20px;
    font-size: 25px;
}
.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas,
#computadora-cartas{
    height: 240px;
}

